<div class="px-4 mt-24 md:px-10 mx-auto w-full -m-24">
  <footer class="block py-4">
    <div class="container mx-auto px-4">
      <hr class="mb-4 border-b-1 border-blueGray-200" />
      <div
        class="flex flex-wrap items-center md:justify-between justify-center"
      >
        <div class="w-full md:w-12/12 px-4">
          <ul
            class="flex flex-wrap list-none md:justify-end justify-center"
          >
            <li>
              <a
                href="https://github.com/cwoo107/guarded_depths"
                class="text-blueGray-600 hover:text-blueGray-800 text-sm font-semibold block py-1 px-3"
              >
                GitHub
              </a>
            </li>
            <li>
              <a
                href="/"
                class="text-blueGray-600 hover:text-blueGray-800 text-sm font-semibold block py-1 px-3"
              >
                FAQ
              </a>
            </li>
            <li>
              <a
                href="/"
                class="text-blueGray-600 hover:text-blueGray-800 text-sm font-semibold block py-1 px-3"
              >
                MIT License
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>