<%= render(CardComponent.new(
  title: "All",
  header: "Codes",
  width: "w-full mb-12 xl:mb-0 px-4")) do %>
  <p id="notice"><%= notice %></p>
  <%= render(TableComponent.new(
    data: @tickets)) %>
<% end %>
