<%= render(CardComponent.new(
  title: "All",
  header: "Codes",
  width: "w-full mb-12 xl:mb-0 px-4")) do %>
  <p id="notice"><%= notice %></p>
  <%= render(TableComponent.new(
    data: @codes)) %>
<% end %>
<div class="container">
  <div class="m-10 float-right">
    <%= link_to 'New Code', new_code_path, class: 'bg-gray-500 text-white hover:bg-gray-400 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150' %>
  </div>
</div>
